@{
    Layout = null;
}

@using System.Data;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Category</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <!-- Trigger the modal with a button -->
        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New User</button>*@

        <!-- Modal -->
        <div class="modal fade" id="myModal" data-backdrop="static">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Category</h4>
                    </div>

                    <div class="modal-body">


                        <div class="form-group">
                            <label for="usr">Product ID:</label>
                            <input type="text" value="@ViewBag.max_id" readonly="True" class="form-control" id="ProductID" style="text-align:center; height:30px; width:100px;">

                        </div>
                        <div class="form-group">
                            <label for="usr">Product Name:</label>
                            <input type="text" class="form-control" autofocus="autofocus" autocomplete="off" id="ProductName">

                            <div class="form-group">
                                <label for="pwd">category:</label>
                                <input type="text" class="form-control" list="category_list" onchange = 'get_cat_id(this)' autocomplete="off" id="category">


                                <datalist id="category_list" style="color:aqua;">
                                    @foreach (DataRow dr in Model.Tables["Category_list"].Rows)
                                    {
                                        <option value="@dr["Cat_Name"]" id="@dr["Cat_Id"]"></option>

                                    }

                                </datalist>

                            </div>

                            <input type="text" class="form-control"  autocomplete="off" id="category_id">



                        </div>

                        <div class="form-group text-center">
                            <button type="button" class="btn btn-default " onclick="Save_data()" id="Save">Save</button>

                            <button type="button" class="btn btn-default " onclick="Show_Detials()()" id="Show">Show</button>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" id="Close" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

</body>
</html>




<script>




    //$('#UserName,select').on('keypress', function (e) {
    //    if (e.which == 13) {
    //        $('#LoginID').focus();
    //    }
    //});

    //$('#UserName,select').on('keypress', function (e) {
    //    if (e.which == 13) {
    //        $('#Password').focus();
    //    }
    //});

    //$('#Password,select').on('keypress', function (e) {
    //    if (e.which == 13) {
    //        $('#UserType').focus();
    //    }
    //});

    $('#CategoryName,select').on('keypress', function (e) {
        if (e.which == 13) {
            $('#Save').focus();
        }
    });




    $('#CategoryName').focus();

    $('#CategoryName').select();


    

    function get_cat_id(elem)
    {

        var text = $('#category_list').find('option[value="' + elem.value + '"]').attr('id');
        $('#category_id').val(text);

    }




    function Save_data() {


        var r = confirm("Do you want Save ..?");
        if (r == false)
        {
            return;
        }

        

        try {

            $.ajax({

                type: 'POST',
                url: '@Url.Action("Save_data_product")', // we are calling json method
                dataType: 'Text',
                data: { ProductID: $("#ProductID").val(), ProductName: $("#ProductName").val(), category_id: $("#category_id").val() },

                success: function (response) {
                    alert("Data Saved..");
                    location.reload();
                    $("#save").disabled = true;
                    //window.location.replace("Password");


                },
                eoor: function (ex) {
                    alert("Error" + ex);
                }
            });
        }
        catch (e) {
            alert(e.message)
        }
    }


    $(document).ready(function () {
        $("#myModal").modal('show');
    });


</script>



<script>
    function Show_Detials()
    {

         location.href = '@Url.Action("Show_Detials_product", "Home")';
    }
</script>

<script type="text/javascript">


    function get_data_for_update() {
        var table = document.getElementById('example123');
        $('#example123 tbody').on('click', 'td', function () {

            var row_num = parseInt($(this).parent().index());
            var firstCell = table.rows[row_num + 1].cells[0].innerHTML;
            // alert(firstCell);
            location.href = '@Url.Action("Update_data", "Home")?pid=' + firstCell;
        });

    }

</script>
